.message {
	padding: 5px 5px 5px 30px;
	border: 1px solid gray;
	border-radius: 3px;
	color: #333;
	font-size: 14px;
	margin: 5px 0;
	background: url('../img/warning.svg') no-repeat 5px 6px;
	background-size: 16px 16px;

	&.warning {
		background-color: #ee9999;
	}

	&.info {
		background-color: #9999ee;
	}
}